@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;550;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  @apply bg-[#fff5ec] text-[#333333] transition-colors duration-300;
  margin-left: 0;
  margin-right: 0;
}

.dark body {
  @apply bg-[#333333] text-[#fff5ec];
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1280px) {
  body {
    margin-left: calc(var(--spacing) * 55);
    margin-right: calc(var(--spacing) * 55);
  }

  .dark body {
    margin-left: calc(var(--spacing) * 55);
    margin-right: calc(var(--spacing) * 55);
  }
}

html {
  scroll-behavior: smooth;
}
